*.iml
.gradle/
.idea/
build/
.DS_Store
package-lock.json
scm-source.json
out/
**/classes/
**/.settings/
**/.classpath
**/.project
.vscode/
*-output.json
*egg*
*node_modules
*.env*
*.log
*remodeled*
*-redefined*
target

cli/zally/coverage.txt
web-ui/src/client/public/assets/bundle.js*
venv/

build/
dist/
*.spec
.DS_Store
test.py
rules-transformed.json
*.vsix